apiVersion: v1
kind: Pod
metadata:
  name: nginx-soft-affinity
spec:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 90
          preference:
            matchExpressions:
              - key: node-type
                operator: In
                values:
                  - high-perf
  containers:
    - name: nginx
      image: nginx


# Meaning:
# “Try to schedule this pod on a high-perf node.
# If not available, schedule anywhere else.”
# Weight (1–100) = Importance of preference.