---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: app-sa
  namespace: dev


---
apiVersion: v1
kind: Pod
metadata:
  name: app-pod
spec:
  serviceAccountName: app-sa
  containers:
    - name: app
      image: nginx
