apiVersion: v1
kind: Config

# -------------------------
# CLUSTERS: WHERE to connect
# -------------------------
clusters:
- name: qa-cluster
  cluster:
    server: https://ABCDE.gr7.eks.amazonaws.com  # EKS API server endpoint
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0t... # Cluster CA

# -------------------------
# USERS: HOW to authenticate
# -------------------------
users:
- name: qa-user
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: aws
      args:
        - eks
        - get-token
        - --cluster-name
        - qa-cluster
    # This tells kubectl to use AWS IAM for authentication

# -------------------------
# CONTEXTS: WHICH combo to use
# -------------------------
contexts:
- name: qa-context
  context:
    cluster: qa-cluster
    user: qa-user
    namespace: default

# -------------------------
# CURRENT CONTEXT
# -------------------------
current-context: qa-context
