apiVersion: v1
kind: Service
metadata:
  name: backend-nodeport
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 31000
      protocol: TCP
