apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: production
spec:
  replicas: 1                   # DB usually runs as single replica
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432

        volumeMounts:
        - name: db-storage
          mountPath: /var/lib/postgresql/data
          # Path where DB stores data

      volumes:
      - name: db-storage
        persistentVolumeClaim:
          claimName: db-data-pvc
          # PVC reference (not PV!)
